<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<%= mail_to(@user.email) %>

<% for column in User.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @user.send(column.name) %>
</p>
<% end %>

<p>
  <%= link_to 'Edit', edit_admin_user_path(@user) %> |
  <%= link_to 'All Users', admin_users_path %>
</p>
